<html>

<head>
	<title>NoFox Web Dev - Home</title>

	<meta name="description" content="NoFox Development Home Page" />
	<meta name="robots" content="index,follow" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google" content="nositelinkssearchbox" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	<script src="js/logo.js"></script>
	<script src="js/style.js"></script>

	<!--[if IE]><link rel="shortcut icon" href="imgs/favicon.ico"><![endif]-->
	<link rel="icon" href="imgs/favicon.png">
	<!-- <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png"> -->
</head>

<body ontouchstart='' onload='logoRefresh(); startStyle();'>

	<!-- Desktop Navbar -->
	<div class="ui fixed inverted menu" id="desktopNav">
		<a class="item" href="/" id="home">
			<img src="/imgs/svg/FoxHeadColored.png" alt="NoFoxDevelopment">&nbsp;
			Aaron Chavez
		</a>
		<a class="item" href="/aboutme" id="aboutMe">
			About Me
		</a>
		<a class="item" href="/projects" id="projects">
			Projects
		</a>

	</div>

	<!-- Mobile Navbar -->
