<% include partials/header %>

<div class="ui grid maingrid">
	<div class="ui main text container">
		<h1 class="ui header">A Little About Myself</h1>
		<img src="/imgs/favicon.png" alt="NoFoxFavico" class="ui tiny image floated left">
		<p>Ever since I was a child, I've been fascinated by computers and as a result of this captivation I've endeavoured to learn about the various facets of modern front-end web development. Skills I have managed to acquire range from simple HTML and CSS, to more in-depth processes like JavaScript, jQuery, SCSS, Bootstrap, and SVG design and animations; all through self taught channels.</p>
		<p>Every day I push myself to take on a new challenge, learn a new skill, or improve the skills I currently have. Due to not having completed a formal education in web development or design, I have learnt my skills through various channels such as books, online courses and other miscellaneous resources.</p>
		<div class="ui medium header">
			Languages and Frameworks
		</div>
		<div class="ui list">
			<div class="item"><i class="html5 icon"></i>HTML5</div>
			<div class="item"><i class="css3 icon"></i>CSS3</div>
			<div class="item"><i class="grid layout icon"></i>Bootstrap 4</div>
			<div class="item">JavaScript</div>
			<div class="item">JQuery</div>
			<div class="item">ExpressJS</div>
			<div class="item">NodeJS</div>






		</div>
		Programs and Utilities
		Editors and IDEs (SublimeText, VSCode, VIM)
		Version Control(GitHub, BitBucket)
		Terminal Emulators(Bash, Zsh)
		Soft Skills
		Ability to work independently
		Familiar with using design documentation
		Quick to pick up new languages and design concepts
		I am fortunate to have already had the opportunity to work with small businesses, friends, and family to seek new projects and challenges to learn web design from a practical and realistic standpoint, however, I am now reaching a point where I feel I would truly benefit from a junior developer position in which I can learn from senior developers, expand my knowledge and get real world experience in web development.
	</div>
</div>

<!--
	<div class="col-lg">
		<h1>Testimonials from Clients and Colleagues</h1>
	</div>
		<div class="col-lg">
	<div class="leftTesti">
	"I feel fortunate to have had Aaron design my website from start to finish. Aaron worked diligently on the website and ultimately
	improved our SEO presence. He is always quick to answer questions and troubleshoot any issues. He truly has offered worthwhile
	visual and technical solutions as well. I have received many compliments on our website and the traffic has improved
	in both volume and quality."
	</div>
	<div class="leftAuthor">
	-Dr. Eric T Branham, DC &amp; CEO
	<br />
	<a href="http://www.nuvitasgroup.com/" target="_blank">NuVitas Group</a>
	</div>

	<div class="rightTesti">
	"Aaron and I worked on projects in 3 different languages that I already had worked in but he was unfamiliar with, and in
	each case he was up and running within days."
	</div>
	<div class="rightAuthor">
	-
	<a href="https://www.linkedin.com/in/jason-saxon-03420847/" target="_blank">Jason Saxon</a>
	<br />DevOps Engineer
	</div>
		</div>
-->
<% include partials/footer %>
