<% include partials/header %>

<div class="ui grid maingrid">
	<h2 Class="ui horizontal divider header">A Little About Myself</h1>
	<div class="ui main text container">
		<img src="/imgs/favicon.png" alt="NoFoxFavico" class="ui tiny image floated left">
		<p>Ever since I was a child, I've been fascinated by computers and as a result of this captivation I've endeavoured to learn about the various facets of modern front-end web development. Skills I have managed to acquire range from simple HTML and CSS, to more in-depth processes like JavaScript, jQuery, SCSS, Bootstrap, and SVG design and animations; all through self taught channels.</p>
		<p>Every day I push myself to take on a new challenge, learn a new skill, or improve the skills I currently have. Due to not having completed a formal education in web development or design, I have learnt my skills through various channels such as books, online courses and other miscellaneous resources.</p>
		<div class="ui medium header">Languages and Frameworks</div>
		<div class="ui list">
			<div class="item"><i class="html5 icon"></i>&nbsp;HTML5</div>
			<div class="item"><i class="css3 icon"></i>&nbsp;CSS3</div>
			<div class="item sublist"><i class="grid layout icon"></i>&nbsp;CSS Libraries (BootStrap 4, Semantic-UI, FontAwesome)</div>
			<div class="item sublist"><span class="textIcon">{&nbsp;}</span>&nbsp;CSS Preprocessors (SCSS, less.js)</div>
			<div class="item"><i class="fab fa-js-square"></i>&nbsp;JavaScript</div>
			<div class="item"><img src="/imgs/svg/icons8-jquery-filled.svg" alt="" id="jQueryLogo">&nbsp;JQuery</div>
			<div class="item"><i class="fab fa-node-js"></i>&nbsp;NodeJS (Express.js, NPM, Node)</div>
		</div>
		
		<div class="ui medium header">Programs and Utilities</div>
		<div class="ui list">
			<div class="item"><i class="keyboard icon"></i>&nbsp;Editors and IDEs (SublimeText, VSCode, VIM)</div>
			<div class="item"><i class="fork icon"></i>&nbsp;Version Control(GitHub, BitBucket)</div>
			<div class="item"><i class="terminal icon"></i>&nbsp;Terminal Emulators(Bash, Zsh)</div>
		</div>

		<div class="ui meium header">Soft Skills</div>
		<div class="ui list">
			<div class="item"><i class="users icon"></i>&nbsp;Ability to work independently or with a group as needed</div>
			<div class="item"><i class="browser icon"></i>&nbsp;Familiar with using design documentation</div>
			<div class="item"><i class="code icon"></i>&nbsp;Quick to pick up new languages and design concepts</div>
		</div>
		<p>I am fortunate to have already had the opportunity to work with small businesses, friends, and family to seek new projects and challenges to learn web design from a practical and realistic standpoint, however, I am now reaching a point where I feel I would truly benefit from a junior developer position in which I can learn from senior developers, expand my knowledge and get real world experience in web development.</p>
	</div>
	<h2 Class="ui horizontal divider header">Testimonials<span id="overflow"> from Clients and Colleagues</span></h2>
	<div class="ui main text container">
		<div class="qLeft">
			<p>"I feel fortunate to have had Aaron design my website from start to finish. Aaron worked diligently on the website and ultimately improved our SEO presence. He is always quick to answer questions and troubleshoot any issues. He truly has offered worthwhile visual and technical solutions as well. I have received many compliments on our website and the traffic has improved in both volume and quality."</p>
		</div>
		<div class="aLeft">
			-Dr. Eric T Branham, DC &amp; CEO <a href="http://www.nuvitasgroup.com/" target="_blank">NuVitas Group</a>
		</div>

		<div class="qRight">
			<p>"Aaron and I worked on projects in 3 different languages that I already had worked in but he was unfamiliar with, and in each case he was up and running within days."</p>
		</div>
		<div class="aRight">
			-<a href="https://www.linkedin.com/in/jason-saxon-03420847/" target="_blank">Jason Saxon</a> DevOps Engineer
		</div>

	</div>
</div>

<% include partials/footer %>