<%include partials/header%>

	<!-- Begin Page Content -->
	<div class="row">
		<div class="col-lg">
			<h1>Let's Build Something Brilliant</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-lg" style="max-width: 400px;">
			<img src="imgs/svg/FoxHeadAnimated.svg" onerror="this.onerror=null; this.src='imgs/svg/FoxHead.png'" alt="If your browser supported Animated SVG you'd be seeing something pretty cool right now."
			 style="width: 100%;" id="foxHeadAnimata" />
		</div>
	</div>


	<div class="row">
		<div class="col-lg">
			<p class="text">
				Modern, mobile-friendly development with a personal touch; this is what NoFox Development can offer you. If you are visiting
				this site, you are likely either looking for a custom built website, or looking for a new developer to add to your team.
				This site will serve as both a Curriculum Vitae of sorts, as well as documentation of my projects, performances, and
				portfolios.
				<br>
			</p>
		</div>
	</div>

<%include partials/footer%>