<% include partials/header %>

<div class="ui centered grid maingrid">
	<div class="doubling two column row">
		<div class="centered column">
			<div class="ui card">
				<div class="image">
					<img class="ui medium image" src="/imgs/jstennis.png" alt="placeholder+image">
				</div>
				<div class="content">
					<a href="/projects/jstennis" class="header">Tennis.js</a>
					<div class="meta">Completed 09/18/2017 - Last Updated 01/12/2018</div>
				</div>
				<div class="description">
					Pong-like game written in JS, utilizing HTML5 2D Canvas drawing.
				</div>
			</div>
		</div>
		<div class="centered column">
			<div class="ui card">
				<div class="image">
					<img src="/imgs/colorGame.png" alt="placeholder+image">
				</div>
				<div class="content">
					<a href="/projects/colorgame" class="header">ColorGame.js</a>
					<div class="meta">Completed 11/15/2017 - Last Updated 11/15/2017</div>
				</div>
				<div class="description">
					RGB Color Picker Game showcasing simple DOM Manipulation via Vanilla JS.
				</div>
			</div>
		</div>
	</div>
	<div class="doubling two column row">
		<div class="centered column">
			<div class="ui card">
				<div class="image">
					<img src="/imgs/yelpCamp.png">
				</div>
				<div class="content">
					<a href="#" class="header">Yelp Camp</sup></a>
					<div class="meta">Completed TBD - Last Updated 00/00/000</div>
				</div>
				<div class="description">
					Yelp Clone utilizing MongoDB, mongoose, and Express.js <em>In Progress</em>
				</div>
			</div>
		</div>
		<div class="centered column">
			<div class="ui card">
				<div class="image">
					<img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
				</div>
				<div class="content">
					<a href="#" class="header">Coming Soon <sup>TM</sup></a>
					<div class="meta">Completed 00/00/0000 - Last Updated 00/00/000</div>
				</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
